.catalog {
  margin-bottom: 80px;
  // .catalog__order
  &__order {
    min-height: 48px;
    margin-bottom: 30px;
  }
  // .catalog__wrapper
  &__wrapper {
  }
  // .catalog__title
  &__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 16px;
  }
  // .catalog__wrap-list
  &__wrap-list {
  }
  // .catalog__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 145px);
    gap: 10px;
  }
  @media (min-width: 1024px) {
    margin-bottom: 100px;
    // .catalog__container
    &__container{
      display: flex;
      gap: 30px;
    }
    &__order {
      padding-top: 72px;
    }
    &__wrapper {
      flex-grow: 1;
    }
    &__title {
      font-size: 40px;
      margin-bottom: 24px;
    }
    &__list {
      grid-template-columns: repeat(auto-fit, 300px);
      gap: 30px;
    }
  }
}
