.count {
  width: 74px;
  height: 30px;
  border-radius: 8px;
  background: #f2f2f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  // .count__minus
  &__minus {
    width: 8px;
    &:hover,
    &:focus {
      color: #ff7020;
      outline: none;
    }
  }
  // .count__amount
  &__amount {
  }
  // .count__plus
  &__plus {
    width: 8px;
    &:hover,
    &:focus {
      color: #ff7020;
      outline: none;
    }
  }
  @media (min-width: 1024px) {
    width: 84px;
    height: 40px;
    border-radius: 12px;
    padding: 9px 12px;
    font-size: 16px;
    line-height: 22px;
    // .count__minus
    &__minus {
      width: 10px;
    }
    // .count__plus
    &__plus {
      width: 10px;
    }
  }
}
