.header {
  background-image: url("data:image/svg+xml,	%3Csvg id='header' width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08' /%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 611px;
  padding: 24px 0px 30px;
  margin-bottom: 30px;
  // .header__container
  &__container {
  }
  // .header__logo
  &__logo {
    width: 150px;
    color: #fff;
    margin: 0 auto 24px;
  }
  // .header__title-container
  &__title-container {
    padding-bottom: 246px;
    background: url("../img/burger.svg") bottom/227px no-repeat;
    text-align: center;
    color: #fff;
  }
  // .header__title
  &__title {
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 800;
    line-height: 120%;
  }
  // .header__title-text
  &__title-text{
    display: block;
  }
  // .header__title-text_red
  &__title-text_red {
    color: #FF5C00;
  }
  // .header__appeal
  &__appeal {
    font-size: 12px;
    line-height: 16px;
    span{
      font-weight: 600;
    }
  }
  @media (min-width:480px) {
    background-size: 1500px;
    padding-bottom: 44px;
    &__container{
      max-width: 480px;
    }
    &__title-container{
      padding-bottom: 0;
      padding-top: 27px;
      text-align: left;
      background-position: left;
      padding-left: 180px;
      background-size: contain;
      min-height: 190px;
    }
  }
  @media (min-width:768px){
    background-size: 2540px;
    &__container{
      max-width: calc(562px + var(--padding-container)*2)
    }
    &__title-container{
      padding-left: 237px;
      min-height: 229px;
    }
    &__title{
      font-size: 36px;
      margin-bottom: 26px;
    }
  }
  @media (min-width:1024px){
    background-size: 2880px;
    padding-bottom: 63px;
    margin-bottom: 40px;
    &__container{
      max-width: calc(764px + var(--padding-container)*2)
    }
    &__title-container{
      padding-top: 46px;
      padding-left: 327px;
      min-height: 326px;
    }
    &__title{
      font-size: 50px;
      margin-bottom: 52px;
    }
    &__appeal{
      font-size: 16px;
      line-height: 22px;
    } 
  }
  @media (min-width:1360px){
    &__container{
      max-width: calc(784px + var(--padding-container)*2)
    }
    &__title-container{
      padding-left: 347px;
    }
  }
  @media (min-width:1920px){
    background-size: 4900px;
  }
}

