.product {
  padding: 4px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: #fff;
  min-height: 243px;
  position: relative;
  // .product__image
  &__image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  // .product__price
  &__price {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 4px;
  }
  // .product__title
  &__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    flex-grow: 1;
    margin-bottom: 2px;
  }
  // .product__detail
  &__detail {
    outline: none;
    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      inset: 0;
      border-radius: 12px;
      outline: 1px solid transparent;
    }
    &:hover,
    &:focus-visible {
      color: #f86310;
    }
    &:focus-visible::after {
      outline-color: #f86310;
    }
  }
  // .product__wieght
  &__wieght {
    color: #b1b1b1;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 7px;
  }
  // .product__add
  &__add {
    border-radius: 8px;
    background: #f2f2f3;
    width: 100%;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    padding: 9px;
    transition:
      transform 0.1s ease,
      background-color 0.2s ease-in-out;
    &:hover {
      background-color: #ffab08;
    }
    &:active {
      transform: translateY(2px);
    }
    &:disabled {
      color: #acacac;
      background-color: #f9f9f9;
      cursor: default;
    }
  }
  @media (min-width: 1024px) {
    padding: 12px;
    border-radius: 18px;
    min-height: 411px;
    // .product__image
    &__image {
      height: 220px;
      border-radius: 12px;
      margin-bottom: 16px;
    }
    // .product__price
    &__price {
      font-size: 24px;
      margin-bottom: 8px;
    }
    // .product__title
    &__title {
      font-size: 16px;
    }
    // .product__wieght
    &__wieght {
      font-size: 16px;
      margin-bottom: 8px;
    }
    // .product__add
    &__add {
      border-radius: 12px;
      font-size: 16px;
      padding: 12px;
    }
  }
}
